@{
    ViewData["Title"] = "AccessDenied";
    Layout = null/*"~/Views/Shared/_Layout.cshtml"*/;
}
<link rel="stylesheet" href="css/bootstrap.min.css">
<!-- Icomoon Font Icons css -->
<link rel="stylesheet" href="fonts/style.css">

<!-- Main css -->
<link rel="stylesheet" href="~/WebDesign/css/main.css">
<body class="error-page">
    <div id="particles-js"></div>
    <div class="countdown-bg"></div>
    <div class="error-screen">
        <h1>404</h1>
        <h5>Bu Sayfaya Girmek İçin Yetkiniz Yok</h5>
        <a href="/Home" class="btn stripes-btn">Ana Sayfa'ya Geri Dön</a>
    </div>

</body>
