<div class="col-xl-2 col-lg-3 col-md-6 col-sm-6 col-12">
    <div class="stats-tile2">
        <div class="sale-icon">
            <i class="icon-user1"></i>
        </div>
        <div class="sale-details">
            <h2>21</h2>
            <p>Müşteriler</p>
        </div>
    </div>
    <div class="stats-tile2">
        <div class="sale-icon">
            <i class="icon-shopping-bag1"></i>
        </div>
        <div class="sale-details">
            <h2>67</h2>
            <p>Emirler</p>
        </div>
    </div>
</div>