@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="~/img/fav.png" />
    <title>MOTOR-ASİN</title>
    <link rel="stylesheet" href="~/WebDesign/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/WebDesign/css/main.css">
</head>
<body class="authentication">
    <div id="loading-wrapper">
        <div class="spinner-border"></div>
        Loading...
    </div>
    @RenderBody()
    <script src="~/WebDesign/js/jquery.min.js"></script>
    <script src="~/WebDesign/js/bootstrap.bundle.min.js"></script>
    <script src="~/WebDesign/js/bootstrap.bundle.min.js"></script>
    <script src="~/WebDesign/js/modernizr.js"></script>
    <script src="~/WebDesign/js/moment.js"></script>
    <script src="~/WebDesign/js/main.js"></script>

</body>
</html>
