<div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12">

    <!-- Consultants card start -->
    <div class="consulting-card">
        <div class="consulting-card-bg"></div>
        <div class="consulting-card-body">
            <h4><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Danışmanlık</font></font></h4>
            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Daha iyi sonuçlar için bizimle konuşun ve bize danışın.</font></font></p>
            <button class="btn btn-primary stripes-btn" data-bs-toggle="modal" data-bs-target="#scheduleModal"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">rezerve</font></font></button>
        </div>
    </div>
    <!-- Consultants card end -->
    <!-- Subscription card start -->
    <div class="subscription-card">
        <div class="subscription-card-body">
            <h4><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">abonelik</font></font></h4>
            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sınırsız ücretsiz hizmet alabilirsiniz.</font></font></p>
            <button class="btn btn-secondary stripes-btn"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Abone</font></font></button>
        </div>
    </div>
    <!-- Subscription card end -->
    <!-- Card start -->
    <!-- Card end -->

</div>