
<div class="col-xl-1-4 col-lg-3 col-md-6 col-sm-6 col-12">
    <div class="box3">
        <h3 class="heading">EMİR TALEP</h3>
        <form class="mb-5" method="post" id="contactForm" name="contactForm">
            <div class="row">

                <div class="col-md-12 form-group">
                    <input type="text" class="form-control" name="name" id="name" placeholder="Konu">
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-4 col-sm-4 col-12">
                    <!-- Field wrapper start -->
                    <div class="field-wrapper">
                        <select class="select-single js-states" data-live-search="true">
                            <option>Talep Seçiniz</option>
                            <option>Destek</option>
                            <option>Yazılım</option>
                            <option>Satiş</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <textarea class="form-control" name="message" id="message" placeholder="Proje Açıklaması" cols="30" rows="7"></textarea>
                </div>
            </div>
            <button style="float:right; margin:8px 0px 0px 50px; height:100%; padding:10px 10px;border-radius:3px 3px 3px 3px" type="submit" class="btn-primary">Gönder</button>
        </form>
        <br />
        <br />
        <br />
    </div>
</div>
