<div class="col-xl-8 col-lg-6 col-md-12 col-sm-12 col-12">

	<div class="card">
		<div class="card-header">
			<div class="card-title">Targets</div>
			<div class="graph-day-selection" role="group">
				<button type="button" class="btn active">Today</button>
				<button type="button" class="btn">Weekly</button>
				<button type="button" class="btn">Monthly</button>
			</div>
		</div>
		<div class="card-body">
			<div id="targets"></div>
		</div>
	</div>

</div>
