<br />
<br />
<br />
<div class="card">
    <h3>Yilla Göre Sepete Eklenen Markalar</h3>
    <canvas id="chart" width="650" height="200"></canvas>
    <div class="earnings-detail">
        <div class="earnings-info">
        </div>
    </div>
</div>
<script>

    $(function () {
        var chart; // chart değişkenini tanımla
        $.ajax({
            url: '@Url.Action("GetProductCampaignChartData", "Home")',
            type: 'GET',
            success: function (data) {
                var productCodes = data.map(d => d.ProductCode);
                var counts = data.map(d => d.Count);
                var yearlyCounts = data.map(d => d.MinOrder);

                // Line Chart
                var ctx = document.getElementById('chart').getContext('2d');
                chart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: productCodes,
                        datasets: [
                            {
                                label: 'Tümü',
                                data: counts,
                                borderColor: 'rgba(34, 33, 33, 1)',
                                backgroundColor: 'rgba(207, 21, 45, 0.50)',
                                fill: true
                            },
                            {
                                label: 'Yıllık',
                                data: yearlyCounts,
                                borderColor: 'rgba(75, 75, 192, 1)',
                                backgroundColor: 'rgba(75, 75, 192, 0.2)',
                                fill: true
                            }
                        ]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });

                // Yıllık sayıyı güncelle
                //var yearlyCountCard = document.getElementById('yearlyCount');
                //yearlyCountCard.innerHTML = 'Yearly Count: ' + (yearlyCounts.length > 0 ? yearlyCounts[yearlyCounts.length - 1] : 0);

                //// Haftalık sayıyı güncelle
                //var weeklyCountCard = document.getElementById('weeklyCount');
                //weeklyCountCard.innerHTML = 'Weekly Count: ' + (counts.length > 0 ? counts[counts.length - 1] : 0);

                //// Aylık sayıyı güncelle
                //var monthlyCountCard = document.getElementById('monthlyCount');
                //monthlyCountCard.innerHTML = 'Monthly Count: ' + (counts.length > 0 ? counts[counts.length - 1] : 0);
            }
        });
    });
</script>
