<div class="sales-tile-container">
    <div class="sales-tile">
        <h1>21</h1>
        <h6>Satış</h6>
    </div>
    <div class="sales-tile">
        <h1>60</h1>
        <h6>Ürünler</h6>
    </div>
    <div class="sales-tile">
        <h1>29</h1>
        <h6>Kayıtlar</h6>
    </div>
</div>