@using MotorAsinBasketRobot.Entities.Concrete;
@model List<IncomingOrderRequests>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper-scroll">

    <!-- Content wrapper start -->
    <div class="content-wrapper">

        <!-- Row start -->
        <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

                <!-- Task section start -->
                <div class="tasks-section">

                    <!-- Labels container start -->
                    <div class="labels-container">
                        <div class="lablesContainerScroll">
                            <div class="filters-block">
                                <h5>FİLTRELER</h5>
                                <div class="filters">
                                    <a href="#" class="active">
                                        <i class="icon-receipt"></i> Tümü
                                    </a>
                                    <a href="#">
                                        <i class="icon-error"></i> Öncelik
                                    </a>
                                    <a href="#">
                                        <i class="icon-stars"></i> Yıldızlı
                                    </a>
                                    <a href="#">
                                        <i class="icon-stars"></i> Bekleyen
                                    </a>
                                    <a href="#">
                                        <i class="icon-check_circle"></i> Bitenler
                                    </a>
                                    <a href="#">
                                        <i class="icon-circle-with-cross"></i> Silinenler
                                    </a>
                                </div>
                            </div>
                            <div class="tags-block">
                                <h5>Hizi Emir Listesi </h5>
                                <div class="tags">
                                    <a href="#">
                                        <i class="icon-label text-primary"></i> Yazılım Desteği
                                    </a>
                                    <a href="#">
                                        <i class="icon-label text-secondary"></i> Domanım Destek
                                    </a>
                                    <a href="#">
                                        <i class="icon-label text-warning"></i> Telefon Destek
                                    </a>
                                    <a href="#">
                                        <i class="icon-label text-success"></i> Uzaktan Destek
                                    </a>
                                    <a href="#">
                                        <i class="icon-label text-danger"></i> Eğitim Destes
                                    </a>
                                    <a href="#">
                                        <i class="icon-label text-dark"></i> Diğer
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Labels container end -->
                    <!-- Tasks container start -->
                    <div class="tasks-container">
                        <div class="modal fade" id="addNewTask" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addNewDocumentLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="addNewDocumentLabel">Add Document</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true"></span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form class="row gutters">
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                                <!-- Field wrapper start -->
                                                <div class="field-wrapper">
                                                    <input type="text" class="form-control">
                                                    <div class="field-placeholder">Task Title</div>
                                                </div>
                                                <!-- Field wrapper end -->
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                                <!-- Field wrapper start -->
                                                <div class="field-wrapper">
                                                    <select class="select-single js-states" title="Select Product Category" data-live-search="true">
                                                        <option>Design</option>
                                                        <option>Backend</option>
                                                        <option>Testing</option>
                                                        <option>UI Development</option>
                                                        <option>CSS</option>
                                                    </select>
                                                    <div class="field-placeholder">Task Type</div>
                                                </div>
                                                <!-- Field wrapper end -->
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                                <!-- Field wrapper start -->
                                                <div class="field-wrapper">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control datepicker-opens-left">
                                                        <span class="input-group-text">
                                                            <i class="icon-calendar1"></i>
                                                        </span>
                                                    </div>
                                                    <div class="field-placeholder">Start Date</div>
                                                </div>
                                                <!-- Field wrapper end -->
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                                <!-- Field wrapper start -->
                                                <div class="field-wrapper">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control datepicker-opens-left">
                                                        <span class="input-group-text">
                                                            <i class="icon-calendar1"></i>
                                                        </span>
                                                    </div>
                                                    <div class="field-placeholder">End Date</div>
                                                </div>
                                                <!-- Field wrapper end -->
                                            </div>
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                <!-- Field wrapper start -->
                                                <div class="field-wrapper m-0">
                                                    <textarea class="form-control" rows="3"></textarea>
                                                    <div class="field-placeholder">Task Details</div>
                                                </div>
                                                <!-- Field wrapper end -->
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Create Task</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tasks-header">
                            <h3>Talep Listesi <span class="date" id="todays-date"></span></h3>
                            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addNewTask">Yeni Oluştur</button>
                        </div>
                        <div class="tasksContainerScroll">
                            <!-- Row start -->
                            <div class="row no-gutters justify-content-center">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <section class="task-list">
                                        <h6 class="m-0 h-0">&nbsp;</h6>
                                        @foreach (var item in Model)
                                        {
                                            
                                        <div class="task-block">
                                            <div class="task-checkbox">
                                                <input type="checkbox" name="task_00">
                                                <div class="ripple-container">
                                                    <div class="check-off"></div>
                                                    <div class="check-on">
                                                        <i class="icon-check1"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="task-details">
                                                    <div class="task-name">@item.Title</div>
                                                <div class="task-desc">@item.Desction</div>
                                                <div class="task-types">
                                                    <span class="badge bg-warning">@item.CreatedDate</span>
                                                @*    <span class="badge bg-success">Issue</span>*@
                                                </div>
                                            </div>
                                            <ul class="task-actions">
                                                <li>
                                                    <a href="#" class="important active" data-bs-toggle="tooltip" data-bs-placement="top" title="Bekleyen">
                                                        <i class="icon-error"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="star" data-bs-toggle="tooltip" data-pbs-lacement="top" title="Yildizla">
                                                        <i class="icon-stars"></i>
                                                    </a>
                                                </li>
                                                <li class="dropdown">
                                                    <a href="#" id="task-actions" data-bs-toggle="dropdown" aria-haspopup="true">
                                                        <i class="icon-more_vert"></i>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-end task-action-items" aria-labelledby="task-actions">
                                                        <a href="#" class="mark-done-item">
                                                            <i class="icon-done_all"></i> Tamamlandi olarak İşaretle
                                                        </a>
                                                        <a href="#" class="delete-task-item">
                                                            <i class="icon-close"></i>Görevi Sil
                                                        </a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        }
                                        <!-- Task #1 -->


                                    </section>
                                </div>
                            </div>
                            <!-- Row end -->
                        </div>
                    </div>
                    <!-- Tasks container end -->

                </div>
                <!-- Task section end -->

            </div>
        </div>
        <!-- Row end -->

    </div>
    <!-- Content wrapper end -->
    <!-- App Footer start -->
    <div class="app-footer">© Uni Pro Admin 2021</div>
    <!-- App footer end -->

</div>
