<div class="search-container">

    <!-- Toggle sidebar start -->
    <div class="toggle-sidebar" id="toggle-sidebar">
        <i class="icon-menu"></i>
    </div>
    <!-- Toggle sidebar end -->
    <!-- Mega Menu Start -->
    <div class="cd-dropdown-wrapper">
        <a class="cd-dropdown-trigger" href="#0"><i class="icon-menu menu-icon"></i><span class="menu-text">Hizli Menu</span></a>
        <nav class="cd-dropdown">

            <ul class="cd-dropdown-content">

                <li class="has-children">
                    <a href="#">Main Pages</a>
                    <ul class="cd-secondary-dropdown is-hidden">
                        <li class="has-children">
                            <a href="#">Dashboards</a>
                            <ul class="is-hidden">
                                <li>
                                    <a href="reports.html">Reports</a>
                                </li>
                                <li>
                                    <a href="saas.html">Saas</a>
                                </li>
                                <li>
                                    <a href="sales.html">Sales</a>
                                </li>
                                <li>
                                    <a href="index.html">Admin</a>
                                </li>
                                <li>
                                    <a href="analytics.html">Analytics</a>
                                </li>
                                <li>
                                    <a href="crm.html">CRM</a>
                                </li>
                                <li>
                                    <a href="consulting.html">Consulting</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="#">Layouts</a>
                            <ul class="is-hidden">
                                <li>
                                    <a href="starter-page.html">Starter Page</a>
                                </li>
                                <li>
                                    <a href="layout-full-screen.html">Full Screen</a>
                                </li>
                                <li>
                                    <a href="layout-search.html">Global Search</a>
                                </li>
                                <li>
                                    <a href="layout-megamenu.html">Megamenu</a>
                                </li>
                                <li>
                                    <a href="layout-bradcrumb.html">Breadcrumbs</a>
                                </li>
                                <li>
                                    <a href="layout-scroll-cards.html">Scroll Cards</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="has-children">
                    <a href="#">Product &amp; Calendars</a>

                    <ul class="cd-secondary-dropdown is-hidden">
                        <li class="has-children">
                            <a href="#">Product</a>
                            <ul class="is-hidden">
                                <li>
                                    <a href="products.html">Products Grid</a>
                                </li>
                                <li>
                                    <a href="products-list.html">Products List</a>
                                </li>
                                <li>
                                    <a href="add-product.html">Add Product</a>
                                </li>
                                <li>
                                    <a href="orders.html">Orders</a>
                                </li>
                                <li>
                                    <a href="customers-list.html">Customers</a>
                                </li>
                                <li>
                                    <a href="products-reviews.html">Reviews</a>
                                </li>
                            </ul>
                        </li>

                        <li class="has-children">
                            <a href="#">Calendars</a>
                            <ul class="is-hidden">
                                <li>
                                    <a href="calendar-daygrid-view.html">Daygrid View</a>
                                </li>
                                <li>
                                    <a href="calendar-list-view.html">List View</a>
                                </li>
                                <li>
                                    <a href="calendar-external-dragging.html">Draggable</a>
                                </li>
                                <li>
                                    <a href="calendar-google-view.html">Google View</a>
                                </li>
                                <li>
                                    <a href="calendar-selectable.html">Selectable</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="has-children">
                    <a href="#">Forms</a>

                    <ul class="cd-secondary-dropdown is-hidden">

                        <li class="has-children">
                            <a href="#">Form Layouts</a>
                            <ul class="is-hidden">
                                <li>
                                    <a href="forms-layout-one.html">Default Layout</a>
                                </li>
                                <li>
                                    <a href="forms-layout-two.html">Layout Sections</a>
                                </li>
                                <li>
                                    <a href="forms-layout-three.html">Simple Form Layout</a>
                                </li>
                                <li>
                                    <a href="forms-layout-four.html">Select 2 Tags and Mask</a>
                                </li>
                                <li>
                                    <a href="forms-layout-five.html">Horizontal Form Layout</a>
                                </li>
                                <li>
                                    <a href="forms-layout-six.html">Layout Six with Tabs</a>
                                </li>
                            </ul>
                        </li>

                        <li class="has-children">
                            <a href="#">Forms</a>
                            <ul class="is-hidden">
                                <li>
                                    <a href="forms-inputs.html">Form Inputs</a>
                                </li>
                                <li>
                                    <a href="forms-input-groups.html">Input Groups</a>
                                </li>
                                <li>
                                    <a href="forms-checkbox-radio.html">Checkbox &amp; Radios</a>
                                </li>
                                <li>
                                    <a href="forms-validation.html">Form Validation</a>
                                </li>
                                <li>
                                    <a href="forms-dropzone.html">Dropzone</a>
                                </li>
                                <li>
                                    <a href="forms-bs-select.html">Select 2 Dropdowns</a>
                                </li>
                                <li>
                                    <a href="forms-date-time-picker.html">Date Time Picker</a>
                                </li>
                                <li>
                                    <a href="forms-input-mask.html">Input Mask</a>
                                </li>
                                <li>
                                    <a href="forms-input-range.html">Input Range</a>
                                </li>
                                <li>
                                    <a href="forms-editor.html">WYSIWYG Editor</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="has-children">
                    <a href="#">Pages &amp; Components</a>

                    <ul class="cd-secondary-dropdown is-hidden">

                        <li class="has-children">
                            <a href="#">Pages</a>
                            <ul class="is-hidden">
                                <li>
                                    <a href="chat.html">Chat</a>
                                </li>
                                <li>
                                    <a href="tasks.html">Tasks</a>
                                </li>
                                <li>
                                    <a href="create-invoice.html">Create Invoice</a>
                                </li>
                                <li>
                                    <a href="view-invoice.html">View Invoice</a>
                                </li>
                                <li>
                                    <a href="documents.html">Documents</a>
                                </li>
                                <li>
                                    <a href="faq.html">Faq's</a>
                                </li>
                                <li>
                                    <a href="contacts.html">Contacts</a>
                                </li>
                                <li>
                                    <a href="pricing.html">Pricing</a>
                                </li>
                                <li>
                                    <a href="gallery-tiles.html">Gallery Tiles</a>
                                </li>
                                <li>
                                    <a href="gallery.html">Gallery</a>
                                </li>
                                <li>
                                    <a href="icons.html">Icons</a>
                                </li>
                                <li>
                                    <a href="timeline.html">Timeline</a>
                                </li>
                                <li>
                                    <a href="search-results.html">Search Results</a>
                                </li>
                                <li>
                                    <a href="account-settings.html">Account Settings</a>
                                </li>
                                <li>
                                    <a href="user-profile.html">User Profile</a>
                                </li>
                            </ul>
                        </li>

                        <li class="has-children">
                            <a href="#">Components</a>
                            <ul class="is-hidden">
                                <li>
                                    <a href="accordions.html">Accordions</a>
                                </li>
                                <li>
                                    <a href="alerts.html">Alerts</a>
                                </li>
                                <li>
                                    <a href="buttons.html">Buttons</a>
                                </li>
                                <li>
                                    <a href="badges.html">Badges</a>
                                </li>
                                <li>
                                    <a href="cards.html">Cards</a>
                                </li>
                                <li>
                                    <a href="carousel.html">Carousel</a>
                                </li>
                                <li>
                                    <a href="list-group.html">List group</a>
                                </li>
                                <li>
                                    <a href="modals.html">Modal</a>
                                </li>
                                <li>
                                    <a href="paginations.html">Paginations</a>
                                </li>
                                <li>
                                    <a href="popovers.html">Popovers</a>
                                </li>
                                <li>
                                    <a href="progress.html">Progress</a>
                                </li>
                                <li>
                                    <a href="spinners.html">Spinners</a>
                                </li>
                                <li>
                                    <a href="tabs.html">Tabs</a>
                                </li>
                                <li>
                                    <a href="toasts.html">Toasts</a>
                                </li>
                                <li>
                                    <a href="tooltips.html">Tooltips</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="has-children">
                    <a href="#">Graphs &amp; Tables</a>

                    <ul class="cd-secondary-dropdown is-hidden">

                        <li class="has-children">
                            <a href="#">Graphs</a>
                            <ul class="is-hidden">
                                <li>
                                    <a href="apex-graphs.html">Apex Graphs</a>
                                </li>
                                <li>
                                    <a href="morris-graphs.html">Morris Graphs</a>
                                </li>
                                <li>
                                    <a href="vector-maps.html">Vector Maps</a>
                                </li>
                            </ul>
                        </li>

                        <li class="has-children">
                            <a href="#">Tables</a>
                            <ul class="is-hidden">
                                <li>
                                    <a href="bootstrap-tables.html">Bootstrap Tables</a>
                                </li>
                                <li>
                                    <a href="custom-tables.html">Custom Tables</a>
                                </li>
                                <li>
                                    <a href="data-tables.html">Data Tables</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="account-settings.html">Account Settings</a>
                </li>
                <li>
                    <a href="login.html">Logout</a>
                </li>
                <li>
                    <a href="error-option2.html">Error</a>
                </li>
            </ul>

        </nav>
    </div>
    <!-- Mega Menu End -->
    <!-- Search input group start -->
    <div class="ui fluid category search">
        <div class="ui icon input">
            <input class="prompt" type="text" placeholder="Arama Yap">
            <i class="search icon icon-search1"></i>
        </div>
        <div class="results"></div>
    </div>
    <!-- Search input group end -->

</div>
