<li class="dropdown">
    <a href="#" id="taskss" data-toggle="dropdown" aria-haspopup="true">
        <i class="icon-check-square"></i>
    </a>
    <div class="dropdown-menu dropdown-menu-end lrg" aria-labelledby="taskss">
        <div class="dropdown-menu-header">
            Görevler
        </div>
        <div class="customScroll">
            <ul class="activity">
                <li class="activity-list danger">
                    <div class="detail-info">
                        <p class="date">Today</p>
                        <p class="info">Görevler</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</li>