<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

	<div class="card">
		<div class="card-header">
			<div class="card-title">Orders</div>
			<div class="graph-day-selection" role="group">
				<button type="button" class="btn active">Today</button>
				<button type="button" class="btn">Weekly</button>
				<button type="button" class="btn">Monthly</button>
			</div>
		</div>
		<div class="card-body">
			<div id="ordersGraph"></div>
			<div class="stats-tiles-list">
				<div class="tiles-list">
					<img src="img/food/pizza.svg" alt="Pizzas">
					<h2>120</h2>
					<p>Pizzas</p>
				</div>
				<div class="tiles-list">
					<img src="img/food/donut.svg" alt="Burgers">
					<h2>320</h2>
					<p>Donuts</p>
				</div>
				<div class="tiles-list">
					<img src="img/food/biscuit.svg" alt="Biscuits">
					<h2>260</h2>
					<p>Biscuits</p>
				</div>
				<div class="tiles-list">
					<img src="img/food/ice-cream.svg" alt="Ice Cream">
					<h2>490</h2>
					<p>Ice Cream</p>
				</div>
				<div class="tiles-list">
					<img src="img/food/cupcake.svg" alt="Cakes">
					<h2>580</h2>
					<p>Cakes</p>
				</div>
				<div class="tiles-list">
					<img src="img/food/tea-cup.svg" alt="Coffee">
					<h2>310</h2>
					<p>Coffee</p>
				</div>
			</div>
		</div>
	</div>

</div>