@using MotorAsinBasketRobot.Entities.ViewModel;
@model ForgetPasswordViewModel
@{
	Layout = null;
}
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="UniPro App">
	<meta name="author" content="ParkerThemes">
	<link rel="shortcut icon" href="img/fav.png" />
	<title>Şifremi Unuttum</title>
	<link rel="stylesheet" href="~/WebDesign/css/bootstrap.min.css">
	<link rel="stylesheet" href="~/WebDesign/css/main.css">
</head>
<body class="authentication">
	<div id="loading-wrapper">
		<div class="spinner-border"></div>
		Başliyor...
	</div>
	<div class="login-container">
		<div class="container-fluid h-100">
			<div class="row no-gutters h-100">
				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
					<div class="login-about">
						<div class="slogan">
							<span> Hesabınıza</span>
							<span>giriş</span>
							<span>yapın</span>
						</div>
						<div class="about-desc">
							Aşin teknoloji hesabınıza erişmek için lütfen kayıt işlemi sırasında sağladığınız e-posta kimliğini girin.
						</div>
						<a href="reports.html" class="know-more">Know More <img src="img/right-arrow.svg" alt="Uni Pro Admin"></a>
					</div>
				</div>
				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
					<div class="login-wrapper">
						@if (TempData["SuccessMessage"] != null)
						{
							<div class="alert alert-info" role="alert">
								@TempData["SuccessMessage"]
							</div>
						}
						<form asp-controller="WebLogin" asp-action="ForgetPassword" method="post">
							<div class="login-screen">
								<div asp-validation-summary=ModelOnly class="alert alert-danger" role="alert">
								</div>
								<div class="login-body">
									<h6>Aşin teknoloji hesabınıza erişmek için lütfen kayıt işlemi sırasında sağladığınız e-posta kimliğini girin.</h6>
									<div class="field-wrapper">
										@*<input type="email" autofocus>*@
										<input type="email" asp-for="Email">
										<div class="field-placeholder">Email</div>
									</div>
									<div class="actions">
										@*     <a href="forgot-password.html">Forgot password?</a>*@
										<button type="submit" class="btn btn-primary">Giriş</button>
									</div>
								</div>
								@* <div class="login-footer">
								<span class="additional-link">No Account? <a href="signup.html" class="btn btn-light">Sign Up</a></span>
								</div>*@
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="~/WebDesign/js/jquery.min.js"></script>
	<script src="~/WebDesign/js/bootstrap.bundle.min.js"></script>
	<script src="~/WebDesign/js/modernizr.js"></script>
	<script src="~/WebDesign/js/moment.js"></script>
	<script src="~/WebDesign/js/main.js"></script>
</body>
</html>