@using MotorAsinBasketRobot.Entities.ViewModel;
@model ResetPasswordViewModel
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="UniPro App">
    <meta name="author" content="ParkerThemes">
    <link rel="shortcut icon" href="img/fav.png" />
    <title>Şifremi Sifirlama</title>
    <link rel="stylesheet" href="~/WebDesign/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/WebDesign/css/main.css">
</head>
<body class="authentication">
    <div id="loading-wrapper">
        <div class="spinner-border"></div>
        Başliyor...
    </div>
    <div class="login-container">
        <div class="container-fluid h-100">
            <div class="row no-gutters h-100">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="login-about">
                        <div class="slogan">
                            <span> Hesabınıza</span>
                            <span>giriş</span>
                            <span>yapın</span>
                        </div>
                        <div class="about-desc">
                            Aşin teknoloji hesabınıza erişmek için lütfen kayıt işlemi sırasında sağladığınız e-posta kimliğini girin.
                        </div>
                        @*<a href="reports.html" class="know-more">Know More <img src="img/right-arrow.svg" alt="Uni Pro Admin"></a>*@
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="login-wrapper">
                        @if (TempData["SuccessMessage"] != null)
                        {
                            <div class="alert alert-info" role="alert">
                                @TempData["SuccessMessage"]
                                <a href="/Home">
                                    <button type="submit" class="btn btn-danger ms-auto">Ana Sayfa</button>
                                </a>
                            </div>
                        }
                        <form method="post">
                            <div class="login-screen">
                                <div class="login-body pb-4">
                                    <h6>Şifrenizi sıfırlamak için  yeni şifre girerek yeni şifre belirleyiniz..</h6>
                                    <div class="field-wrapper mb-3">
                                        <input asp-for="Password" class="form-control" autofocus>
                                        <div class="field-placeholder">Şifre Giriniz</div>
                                    </div>
                                    <div class="field-wrapper mb-3">
                                        <input asp-for="PasswordConfirm" class="form-control">
                                        <div class="field-placeholder">Şifre Tekar Girin</div>
                                    </div>
                                    <div class="actions">
                                        <button type="submit" class="btn btn-danger ms-auto">Şifteyi Sifirla</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/WebDesign/js/jquery.min.js"></script>
    <script src="~/WebDesign/js/bootstrap.bundle.min.js"></script>
    <script src="~/WebDesign/js/modernizr.js"></script>
    <script src="~/WebDesign/js/moment.js"></script>
    <script src="~/WebDesign/js/main.js"></script>
</body>
</html>