<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

    <div class="card">
        <div class="card-header">
            <div class="card-title">Yillik Bazlı</div>
            <div class="graph-day-selection" role="group">
                <button type="button" class="btn active"></button>
                <button type="button" class="btn"></button>
                <button type="button" class="btn"></button>
            </div>
        </div>
    </div>

</div>